@import "tailwindcss";
#root{
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
}
.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}
body::-webkit-scrollbar {
  display: none;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  margin: 0;
  padding: 0;
}
.hero{
  background-image: url(../src/assets/images/wide-rrom.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
h1{
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.block{
  list-style: none;
  text-decoration: none;
}
.service{
position: relative;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 1.8rem;
  font-style: normal
}

.service::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffbfa3;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.service.active-service::after {
  width: 100%;
}
.sub-head{
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  font-style: normal;
  margin: 7px 0;
}
.about-sub{
  font-family: "Fira Sans", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  font-style: normal
}
.about-sub2{
  font-family: "Fira Sans", sans-serif;
  font-size: 3.4rem;
  font-weight: 600;
  font-style: normal
}
.img-bg{
  background-image: url(../src/assets/images/oil-hand.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .img-bg {
    height: 47vh;
  }
  .about-sub2{
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal
}
}